[user]
	name = Basil Schneider
	email = basil.schneider@cern.ch
[core]
	editor = vim
[merge]
	tool = vimdiff
[credential]
	helper = cache --timeout=3600
[push]
    default = current
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[alias]
	vimdiff = difftool
    st = status
    df = diff
    ds = diff --staged
    co = checkout
    ci = commit
    br = branch -vv
    pr = pull --rebase
    rb = rebase
    gr = grep
    toplevel = rev-parse --show-toplevel
