[user]
	name = Basil Schneider
	email = basil.schneider@cern.ch
	github = basilschneider
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
    default = current
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[alias]
	vimdiff = difftool
    st = status
    df = diff
    ds = diff --staged
    co = checkout
    ci = commit
    br = branch -vv
    pr = pull --rebase
    rb = rebase
    gr = grep
    toplevel = rev-parse --show-toplevel
    stashpop = stash pop stash@{0}
    fr = !git svn fetch && git svn rebase
    # For git undo command, see http://megakemp.com/2016/08/25/git-undo/
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
    prettylog = log --format=\"%C(auto)%h%C(reset) %C(cyan)%s%C(reset) %C(dim white)(%ar)%C(reset)%w(72,4,4)%b\"
[init]
	templatedir = ~/.git_template
